@media all and (min-width: 479px) {

  .list {
    width: 30.5%;
  }

    .list.odd .label,
    .list.even .label {
      left: 0;
      padding: 0;
      -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
    }

      .list.odd .label:before,
      .list.even .label:before {
        display: none;
      }

  .task, .note {
    padding: 15px;
  }
}
