@media all and (min-width: 767px) {

  header h1 {
    margin: 0 auto 0 -250px;
    width: 500px;
  }

  .label .name {
    font-size: 18px;
  }

  .modal-header {
    display: block;
  }

  .modal-body {
    margin-top: 0;
  }

    .modal-body label {
      top: 25px;
    }

    .modal-body textarea {
      height: 360px;
    }

    .modal-body input {
      margin-top: 15px;
    }

    .modal-body .preview {
      margin-top: 25px;
    }
}
