[data-ng-cloak], [ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; /* don't worry important is only used twice! */
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
  -webkit-touch-callout: none;
}

html, body {
  height: 100%;
  color: #fff;
}

body {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  background: #2c2c2c;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h3 {
  margin: 0.5em 0;
  text-align: center;
}

html, body, input, textarea, button {
  letter-spacing: 1px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input, textarea, button {
  border-radius: 0px;
}

input, textarea {
  padding: 15px 5px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

hr {
  border: none;
  border-top: 1px solid #000;
}

.transparent {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.control {
  border: none;
  border-radius: 0px;
  background: #222;
  color: #fff;
  font-size: 16px;
}

button:active {
  background: #345b79;
}

.truncate {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  display: none;
}

::-webkit-input-placeholder {
  color: #444;
}

header {
  position: absolute;
  top: 0;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  height: 50px;
  background: #1a1a1a;
  color: #fff;
}

  header h1 {
    position: absolute;
    left: 50%;
    overflow: hidden;
    margin: 0 auto 0 -85px;
    padding: 9px 0;
    width: 170px;
    text-align: center;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
    /* Rest margins set by normalize.css */
  }

    header h1.title {
      margin-top: -8px;
      padding: 12px 0;
      font-size: 32px;
      font-family: 'Lobster', cursive;
    }

  header button {
    position: relative;
    top: 10%;
    width: 50px;
    height: 85%;
    color: #fff;
    font-size: 25px;
  }

    header button:active {
      background: none;
      color: #000;
      -webkit-text-shadow: 0px 0px 10px white;
      text-shadow: 0px 0px 10px white;
    }

  header .pull-right {
    right: 2%;
    float: right;
    padding-right: 2%;
    padding-left: 2%;
    text-align: right;
  }

  header .pull-left {
    left: 2%;
    float: left;
    padding-right: 2%;
    padding-left: 2%;
    text-align: left;
  }

.main {
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
}

  .main.full-length {
    bottom: 0px;
  }

ul {
  margin: 0;
  padding: 0;
}

.home {
  padding: 10px 0 10px 2%;
}

/* Don't really like using ids but sometimes its ok! */
#deviceready .complete {
  opacity: 1;
  -moz-transition: opacity .4s linear 1s;
  -o-transition: opacity .4s linear 1s;
  -webkit-transition: opacity .4s linear 1s;
  transition: opacity .4s linear 1s;
}

  #deviceready .complete.see-through {
    opacity: 0;
  }

.bottom-controls {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

  .bottom-controls button {
    display: inline-block;
    float: right;
    padding: 15px 0;
    width: 100%;
    background: #1a1a1a;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }

    .bottom-controls button:active {
      background: #345b79;
    }

.modal {
  position: fixed;
  top: 40px;
  left: 0%;
  z-index: 2;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  background: #111;
  color: #fff;
  font-size: 25px;
  -moz-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

  .modal [disabled] {
    color: #999;
  }

  .modal.left {
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
  }

  .modal .wait {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .modal.open {
    visibility: visible;
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  .modal input, .modal textarea {
    margin-bottom: 15px;
    border-bottom: 1px solid #444;
  }

input[type="number"], input[type="date"], input[type="time"] {
  margin-top: 15px;
  padding: 10px 0;
  background-color: #0a0a0a;
  font-size: 17px;
}

.modal input.ng-dirty.ng-invalid,
.modal textarea.ng-dirty.ng-invalid {
  border-bottom: 1px solid #aa2c26;
}

.modal button {
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 20px;
}

  .modal button.fat {
    border-top: 1px solid #333;
    border-bottom: 1px solid #000;
    font-size: 28px;
  }

  .modal button.one-quarter-high {
    height: 25%;
  }

  .modal button.one-half-wide,
  button.one-half-wide {
    width: 50%;
  }

  .modal button.save {
    position: absolute;
    right: 0;
    bottom: 0px;
  }

  .modal button.delete {
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: #1a1a1a;
  }

    .modal button.delete:active {
      background-color: #aa2c26;
    }

.modal-header, .modal-body, .modal-footer {
  margin: auto;
  padding: 0;
  height: 10%;
  text-align: center;
}

.modal-body {
  margin-top: 10px;
  height: 55%;
}

.modal-header h3 {
  margin: 15px 0 0 0;
  padding: 0;
  font-size: 28px;
}

.modal-body label {
  position: relative;
  top: 25px;
  left: 5%;
  display: block;
  float: left;
  width: 35%;
  color: #fff;
  text-align: center;
  font-size: 17px;
}

.modal-body textarea {
  display: inline-block;
  float: none;
  height: 200px;
  text-align: left;
  font-size: 18px;
}

  .modal-body input.pull-right,
  .modal-body textarea.pull-right {
    width: 55%;
  }

.modal-body .preview {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-top: 25px;
  width: 48%;
  background: #fff;
  cursor: pointer;
}

.in-list-form {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.lists {
  width: 96%;
}

.home .lists {
  width: 100%;
}

.list {
  position: relative;
  display: inline-block;
  float: left;
  margin: 1%;
  width: 46%;
  border: 2px solid #fff;
  background: #888;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0px 1px 1px 0px #333;
  box-shadow: 0px 1px 1px 0px #333;
  list-style: none;
  cursor: pointer;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  background-color: #fff;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal .image {
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 2px 2px 1px #333;
  box-shadow: 0px 2px 2px 1px #333;
}

.list:before,
.preview:before {
  display: block;
  margin-top: 100%;
  content: "";
}

.label {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 40px;
  background: rgba(0,0,0,0.85);
  color: #fff;
}

  .label.short {
    height: 25px;
  }

  .label .name,
  .label .total {
    position: absolute;
    top: 1px;
    left: 10px;
    width: 90%;
    font-size: 16px;
  }

  .label .total {
    top: 22px;
    font-size: 11px;
  }

.list.odd .label {
  left: -9px;
  padding: 0 0 0 11px;
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
}

  .list.odd .label:before {
    position: absolute;
    top: -5px;
    left: 2px;
    width: 0;
    height: 0;
    border: 5px solid #1B1B1B;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: '';
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.list.even .label {
  left: -2px;
  padding: 0 11px 0 0;
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
}

  .list.even .label:before {
    position: absolute;
    top: -5px;
    right: 2px;
    width: 0;
    height: 0;
    border: 5px solid #1B1B1B;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    content: '';
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

.task, .note {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 1px 0 0 0;
  padding: 4% 2%;
  border: none;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  background: #222;
  list-style: none;
  font-size: 18px;
  cursor: pointer;
}

li.droparea {
  margin: 1px 0 0 0;
  background: #000;
}

.task.lightred {
  border-left: 2px solid #aa2c26;
}

.task.silver {
  border-left: 2px solid #345b79;
}

.task .name span,
.task .price span,
.task .quantity span {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
}

.task .date {
  font-size: 12px;
}

  .task .date.overdue {
    color: #aa2c26;
  }

.task .checkbox,
.task .name,
.task .price,
.task .quantity {
  display: inline-block;
  width: 90%;
}

.task .name {
  margin-left: 12%;
  width: 78%;
}

.task .checkbox {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  width: 25px;
  height: 25px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  text-align: center;
}

  .task .checkbox .check {
    opacity: 0;
  }

.task.done .checkbox .check {
  opacity: 1;
}

.wishes .task .name {
  width: 53%;
}

.products .task .name {
  margin-left: 25%;
  width: 50%;
}

.wishes .task .price,
.products .task .price {
  position: absolute;
  top: 50%;
  right: 10%;
  display: inline-block;
  margin-top: -8px;
  width: 15%;
  height: 14px;
  text-align: right;
  font-size: 12px;
}

.products .task .quantity {
  position: absolute;
  top: 50%;
  left: 12%;
  display: inline-block;
  margin-top: -8px;
  width: 14%;
  height: 14px;
  text-align: left;
  font-size: 12px;
}

.task.done {
  opacity: 1 !important; /* to override JQuery framework inline styling */
}

  .task.done .name,
  .task.done .price,
  .task.done .quantity,
  .task.done .date,
  .task.done .date.overdue {
    color: #777;
    font-style: italic;
  }

.handle {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  margin: -14px 0 0 0;
  padding: 0;
  width: 10%;
  height: 25px;
  color: #666;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 25px;
  cursor: move;
}

.priority button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 0;
  width: 31%;
  background-color: rgba(0, 0, 0, 0.10);
  font-size: 17px;
  cursor: pointer;
}

  .priority button.normal {
    margin: -6px;
  }

  .priority button.selected.low {
    border-bottom: 2px solid #345b79;
  }

  .priority button.selected.normal {
    border-bottom: 2px solid #000;
  }

  .priority button.selected.high {
    border-bottom: 2px solid #aa2c26;
  }

.note h1,
.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
  margin: 5px 0;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
}

.note h1 {
  font-size: 1.5em;
}

.note h2 {
  font-size: 1.4em;
}

.note h3 {
  font-size: 1.3em;
}

.note h4 {
  font-size: 1.2em;
}

.note h5 {
  font-size: 1.1em;
}

.note blockquote {
  margin: 5px;
  padding-left: 6px;
  border-left: 1px solid #a5a5a5;
}

.note p {
  margin: 0;
  padding: 0;
}

.note ul {
}

.note li {
}

.note pre,
.note code {
  padding: 3px;
  background-color: #d5cc95;
  color: #222;
  font-size: 0.8em;
}

  .note pre code {
    background-color: transparent;
  }

.note hr {
  border-top: 1px solid #888;
  border-bottom: 1px solid #fff;
}

.note a {
  color: #3376aa;
  text-decoration: none;
}

.task .name span .hashtag {
  display: inline;
  color: orange;
}

.summary {
  color: #000;
  text-align: center;
  font-size: 18px;
}

  .summary p {
    display: inline-block;
    width: 23%;
  }

  .summary span {
    display: block;
    margin: 10px 0;
  }

.ribbon-wrapper {
  position: absolute;
  top: -6px;
  right: -5px;
  z-index: 1;
  overflow: hidden;
  width: 85px;
  height: 88px;
}

.ribbon {
  position: relative;
  top: 15px;
  left: -5px;
  padding: 5px 0;
  width: 120px;
  background-color: #aa2c26;
  -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
  color: #fff;
  text-align: center;
  font-size: 15px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ribbon-blue {
  background-color: #345b79;
}

.ribbon:before, .ribbon:after {
  position: absolute;
  bottom: -3px;
  border-top: 3px solid #4d0408;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  content: "";
}

.ribbon-blue:before, .ribbon-blue:after {
  border-top: 3px solid #222;
}

.ribbon:before {
  left: 0;
}

.ribbon:after {
  right: 0;
}

.sync-pin {
  margin: 30px 0;
}

  .sync-pin span {
    display: inline-block;
    margin: 0 5px;
    padding: 4px 0 0 0;
    width: 15%;
    height: 40px;
    background: #000;
  }

.pin {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.instructions {
  margin: 10px auto;
  font-size: 15px;
}

  .instructions button {
    margin-top: 5px;
    margin-bottom: 45px;
  }

.list-results.task .name {
  margin-left: 2%;
  width: 96%;
}

/* PRELOAD IMAGES */
body:after {
  display: none;
  content: url(../img/lists/task.jpg) url(../img/lists/wish.jpg) url(../img/lists/shopping.jpg) url(../img/lists/note.jpg);
}
