<div class="main" role="main" data-ng-cloak="ng-cloak">

  <ul class="items tasks">
    <li data-ng-repeat="note in List.Items" class="note" data-on-tap="OpenEditNote(note)">
      <div class="name" data-ng-bind-html="note.Content | markdown"></div>
    </li>

    <li class="summary" data-ng-show="List.Items.length > 0">
      <p class="truncate">
        <span>Notes</span><span data-ng-bind="List.Items.length"></span>
      </p>
      <div class="clearfix"></div>
    </li>
  </ul>

</div>

<div class="modal" id="new-note-item" data-on-swipe="CloseModal()">
  <form name="NewNoteForm" data-ng-submit="AddNote()">

    <div class="modal-body">
      <div>
        <textarea data-ng-model="Content" required class="full-width" placeholder="...notes support markdown!"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" data-on-tap="AddNote()" class="control save">Save</button>
    </div>
    <button type="submit" class="visuallyhidden"></button>
    <!--To allow forms to submit on enter-->
  </form>
  <div class="wait"></div>
</div>

<div class="modal" id="edit-note-item" data-on-swipe="CloseModal()">
  <form name="EditNoteForm" data-ng-submit="UpdateNote()">

    <div class="modal-body">
      <div>
        <textarea data-ng-model="EditingNote.Content" required class="full-width"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" data-on-tap="UpdateNote()" class="control save one-half-wide">Save</button>
      <button type="button" data-on-tap="DeleteNote()" class="control delete one-half-wide">Delete</button>
    </div>
    <button type="submit" class="visuallyhidden"></button>
    <!--To allow forms to submit on enter-->
  </form>
  <div class="wait"></div>
</div>

<div class="modal" id="email-list" data-on-swipe="CloseModal()">
  <form name="EmailListForm" data-ng-submit="SendEmail()">

    <div class="modal-body">
      <div>
        <input type="email" data-ng-model="To" required class="full-width" placeholder="name@email.com" />
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" data-on-tap="SendEmail()" class="control save">Send email</button>
    </div>
    <button type="submit" class="visuallyhidden"></button>
    <!--To allow forms to submit on enter-->
  </form>
  <div class="wait"></div>
</div>


<div class="bottom-controls">
  <button type="button" class="add-new control" data-on-tap="OpenAddNote()">Add note</button>
</div>
