<div class="main" role="main" data-ng-cloak="ng-cloak">

  <ul class="items products">
    <li class="in-list-form">
      <form name="NewQuickProductForm" data-ng-submit="AddQuickProduct()">
        <input type="text" data-ng-model="QuickName" placeholder="Add an item..." />
        <button type="submit" class="visuallyhidden"></button>
        <!--To allow forms to submit on enter-->
      </form>
    </li>

    <li id="task_{{product.Id}}" data-ng-repeat="product in List.Items" class="task" data-ng-sort-index="{{$index}}" data-ng-class="{lightred: product.Priority == '1', silver: product.Priority == '3', done: product.Complete}">
      <div data-on-tap="ToggleComplete(product)" class="checkbox">
        <div class="iconic check"></div>
      </div>
      <div class="quantity" data-on-tap="OpenEditItem(product)">
        <span class="truncate">{{product.Quantity}} x</span>
      </div>
      <div class="name" data-on-tap="OpenEditItem(product)">
        <span data-ng-bind-html-unsafe="product.Name | hashtags"></span>
      </div>
      <div class="price truncate" data-on-tap="OpenEditItem(product)">
        <span class="truncate">{{product.Price | monetize}}</span>
      </div>
      <div class="handle">::</div>
    </li>

    <li class="summary" data-ng-show="List.Items.length > 0">
      <p class="truncate">
        <span>Items</span><span data-ng-bind="List.Items.length"></span>
      </p>
      <p class="truncate">
        <span>To do</span><span data-ng-bind="OutstandingTotal"></span>
      </p>
      <p class="truncate">
        <span>High</span><span data-ng-bind="HighPriorityTotal"></span>
      </p>
      <p class="truncate">
        <span>Total</span><span data-ng-bind="TotalPrice | monetize"></span>
      </p>
      <div class="clearfix"></div>
    </li>
  </ul>

</div>
<div class="modal" id="edit-shopping-item" data-on-swipe="CloseModal()">
  <form name="EditProductForm" data-ng-submit="UpdateItem()">

    <div class="modal-body">
      <div>
        <input type="text" data-ng-model="EditingItem.Name" required class="full-width" />
      </div>
      <div>
        <label>Price</label>
        <input type="number" min="0" step="0.01" data-ng-model="EditingItem.Price" class="pull-right" />
      </div>
      <div>
        <label>Quantity</label>
        <input type="number" min="1" step="any" data-ng-model="EditingItem.Quantity" class="pull-right" />
      </div>
      <div class="priority">
        <button type="button" class="control low" data-ng-class="{selected: EditingItem.Priority == '3'}" data-on-tap="EditingItem.Priority = 3">Low</button>
        <button type="button" class="control normal" data-ng-class="{selected: EditingItem.Priority == '2'}" data-on-tap="EditingItem.Priority = 2">Normal</button>
        <button type="button" class="control high" data-ng-class="{selected: EditingItem.Priority == '1'}" data-on-tap="EditingItem.Priority = 1">High</button>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" data-on-tap="UpdateItem()" class="control save one-half-wide">Save</button>
      <button type="button" data-on-tap="DeleteItem()" class="control delete one-half-wide">Delete</button>
    </div>
    <button type="submit" class="visuallyhidden"></button>
    <!--To allow forms to submit on enter-->
  </form>
  <div class="wait"></div>
</div>

<div class="modal" id="email-list" data-on-swipe="CloseModal()">
  <form name="EmailListForm" data-ng-submit="SendEmail()">

    <div class="modal-body">
      <div>
        <input type="email" data-ng-model="To" required class="full-width" placeholder="name@email.com" />
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" data-on-tap="SendEmail()" class="control save">Send email</button>
    </div>
    <button type="submit" class="visuallyhidden"></button>
    <!--To allow forms to submit on enter-->
  </form>
  <div class="wait"></div>
</div>


<div class="bottom-controls">
  <button type="button" class="clear control" data-on-tap="ClearCompleted()">Clear ({{CompletedTotal}})</button>
</div>
